.title {

    &-auth {
        font-size: 34px;
        color: #212121;
        text-align: center;
        margin: 0 0 32px 0;
        line-height: 1;
    }

    &-error {
        font-size: 140px;
        font-weight: 500;
        color: #3F51B5;
        margin: 0;
        text-align: center;
        line-height: 1;
    }
}

.subtitle {

    &-main {
        font-size: 34px;
        text-align: center;
        color: #212121;
        margin: 30px 0 16px 0;
    }

    &-secondary {
        text-align: center;
        line-height: 1.4;
        color: #757575;
        margin-bottom: 40px;
        width: 345px;
    }
}
