.auth-wrapper {
    display: flex;
    flex-direction: column;
    margin: auto auto;
}

.flex-wrapper {
    display: flex;
}

.flex-column-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chats-wrapper-menu {
    display: flex;
    flex-direction: column;
    background-color: rgba(197, 202, 233, 0.2);
    box-shadow: 1px 0 1px rgba(0, 0, 0, 0.05);
    width: 310px;
    height: 100vh;
}

.chats-wrapper-menu-settings {
    display: flex;
    flex-direction: column;
    padding: 20px 10px 10px 20px;
}

.chats-wrapper-menu-settings-user {
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 20px;
    cursor: pointer;
}

.chats-wrapper-menu-settings-user_settings {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    user-select: none;
}

.chats-wrapper-menu-settings-user:hover {
    background-color: rgba(0, 188, 212, 0.4);
}

.chats-wrapper-menu-settings-user-content {
    display: flex;
    flex-direction: column;
    width: calc(100% - 75px);
}

.chats-wrapper-menu-settings-users {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.chats-wrapper-field {
    display: flex;
    flex-direction: column;
    width: calc(100% - 310px);
    height: 100vh;
}
