.message-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgba(197, 202, 233, 0.2);
    width: 100%;

    &-content {
        display: flex;
        flex-direction: column;

        &-title {
           color: #212121;
           user-select: none;
        }

        &-message {
           font-size: 14px;
           color: #757575;
           user-select: none;
        }

    }

    &-menu {
        cursor: pointer;
    }
}
