.chats {
    display: flex;

}

    .chats-menu {
        display: flex;
        flex-direction: column;
        background-color: rgba(197, 202, 233, 0.2);
        box-shadow: 1px 0 1px rgba(0, 0, 0, 0.05);
        width: 310px;
        height: 100vh;
    }

    .chats-menu-settings {
            display: flex;
            flex-direction: column;
            padding: 20px 10px 10px 20px;
        }

    .chats-menu-settings-users {
                display: flex;
                flex-direction: column;
                overflow: auto;
            }

    .chats-menu-settings-user {
                display: flex;
                align-items: center;
                padding: 10px 10px 10px 20px;
                cursor: pointer;
            }

    .chats-menu-settings-user:hover {
                    background-color: rgba(0, 188, 212, 0.4);
                }

    .chats-menu-settings-user.-active {
                    background-color: rgba(0, 188, 212, 0.4);
                }

    .chats-menu-settings-user-content {
                    display: flex;
                    flex-direction: column;
                    width: calc(100% - 75px);
                }

    .chats-menu-settings-user_settings {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                -webkit-user-select: none;
                   -moz-user-select: none;
                    -ms-user-select: none;
                        user-select: none;
            }

    .chats-field {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: calc(100% - 350px);
        height: 100vh;
    }

.flex-column-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

